.kontener{
display: flex;
width: 100%;
border: 0px solid red;
align-items: center;
justify-content: center;

}


.kwadrat {
    height: 150px;
    width: 150px;
   
  
}

.czerwony {
    background-color: red;

}


.niebieski {
    background-color: blue;
   
  
}

.zielony {
    background-color: green;
    
   
}

.fioletowy {
    background-color: violet;
   
    
}

.rozowy {
    background-color: pink;
   
}

.bialy {
    background-color: white;
   

}

.brazowy {
    background-color: brown;
 
}

.szary {
    background-color: grey;
   
}

.pomaranczowy {
    background-color: orange;

}


.kolko{
    width:100px;
    height: 100px;
    border-radius: 50%;
    margin-top: auto;
    margin-left: 25px;
    margin-top: 25px;
    

}